.subscribe{
    width: 960px;
    margin: 0 auto;
    background: #0C2F62;
    border-radius: 30px;
    padding: 88px 80px;
    display: flex;
    align-items: center;  
    transform: translateY(116px);
    z-index: 2;
    &__title{
        width: 534px;
        font-style: normal;
        font-weight: 700;
        font-size: 2.5em;
        line-height: 56px;
        color: #FFFFFF;
        margin-right: 47px;
    }
    
    &__form{
        display: flex;
        align-items: center;
    }
    
    &__email{
        width: 232px;
        background: #FFFFFF;
        border-radius: 10px 0px 0px 10px;
        padding: 17px 16px;
        border: none;
        &::placeholder{
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 18px;
            color: #96A1AC;
        }
    }
    
    &__btn{
        font-style: normal;
        font-weight: 400;
        font-size: 1em;
        line-height: 24px;
        color: #FFFFFF;
        padding: 13.5px 16px;
        border: none;
        background: #3E96FC;
        border-radius: 0px 10px 10px 0px;
        border: none;
        transition: 0.35s;
        cursor: pointer;
        &:hover{
            background: #2263ae;
        }
    }
}

@media screen and (max-width:991px) {
    .subscribe{
        width: 600px;
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 68px 60px;
        transform: translateY(95px);
        &__title{
            width: 426px;
            font-size: 32px;
            line-height: 48px;
            color: #FFFFFF;
            margin: 0;
            margin-bottom: 24px;
        }
        &__email{
            width: 433px;
            &::placeholder{
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 18px;
                color: #96A1AC;
            }
        }
        &__btn{
            width: 135px;
            padding: 13.5px 16px;
            cursor: pointer;
            &:hover{
                background: #2263ae;
            }
        }
    }
}
@media screen and (max-width:768px) {
    .subscribe{
        width: 432px;
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 68px 60px;
        transform: translateY(95px);
        &__title{
            width: 426px;
            font-size: 32px;
            line-height: 48px;
            color: #FFFFFF;
            margin: 0;
            margin-bottom: 24px;
        }
        &__email{
            width: 265.5px;
            &::placeholder{
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 18px;
                color: #96A1AC;
            }
        }
        &__btn{
            width: 135px;
            padding: 13.5px 16px;
            cursor: pointer;
            &:hover{
                background: #2263ae;
            }
        }
    }
}
@media screen and (max-width:576px) {
    .subscribe{
        width: 432px;
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 12px;
        transform: translateY(95px);
        &__title{
            width: 426px;
            font-size: 32px;
            line-height: 48px;
            color: #FFFFFF;
            margin: 0;
            margin-bottom: 24px;
        }
        &__email{
            width: 265.5px;
            &::placeholder{
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 18px;
                color: #96A1AC;
            }
        }
        &__btn{
            width: 135px;
            padding: 13.5px 16px;
            cursor: pointer;
            &:hover{
                background: #2263ae;
            }
        }
    }
}
@media screen and (max-width:320px) {
    .subscribe{
        width: 272px;
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 12px;
        transform: translateY(95px);
        &__title{
            width:272px;
            font-size: 24px;
            line-height: 48px;
            color: #FFFFFF;
            margin: 0;
            margin-bottom: 24px;
        }
        &__email{
            width: 135.7px;
            padding: 14px 12px;
            &::placeholder{
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 18px;
                color: #96A1AC;
            }
        }
        &__btn{
            width: 112.2px;
            padding: 11px 10px;
            cursor: pointer;
            &:hover{
                background: #2263ae;
            }
        }
    }
}