.subscribe{
    max-width: 1140px;
    margin: 0 auto;
    background: #0C2F62;
    border-radius: 30px;
    padding: 88px 60px;
    display: flex;
    align-items: center;  
    justify-content: center;
    transform: translateY(116px);
    z-index: 2;
    &__title{
        width: 534px;
        font-style: normal;
        font-weight: 700;
        font-size: 2.5em;
        line-height: 56px;
        color: #FFFFFF;
        margin-right: 47px;
    }
    
    &__form{
        display: flex;
        align-items: center;
    }
    
    &__email{
        width: 232px;
        height: 52px;
        background: #FFFFFF;
        border-radius: 10px 0px 0px 10px;
        padding: 17px 16px;
        border: none;
        &::placeholder{
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 18px;
            color: #96A1AC;
        }
    }
    &__btn{
        width: max-content;
        font-style: normal;
        font-weight: 400;
        font-size: 1em;
        line-height: 24px;
        color: #FFFFFF;
        padding: 14px 16px;
        border: none;
        background: #3E96FC;
        border-radius: 0px 10px 10px 0px;
        border: none;
        transition: 0.35s;
        cursor: pointer;
        &:hover{
            background: #2263ae;
        }
    }
}

@media screen and (max-width:1024px) {
    .subscribe{
        width: 960px;
        transform: translateY(80px);
        padding: 68px 60px;
        &__title{
            font-size: 2em;
            line-height: 48px;
            margin-right: 27px;
            
        }
    }
}

@media screen and (max-width:991px) {
    .subscribe{
        width: 720px;
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 68px 60px;
        transform: translateY(95px);
        &__title{
            width: 426px;
            font-size: 2em;
            line-height: 48px;
            color: #FFFFFF;
            margin: 0;
            margin-bottom: 24px;
        }
        &__email{
            width: 465px;
            height: 52px;
            &::placeholder{
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 18px;
                color: #96A1AC;
            }
        }
        &__btn{
            width: 135px;
            height: 52px;
            padding: 13.5px 16px;
            cursor: pointer;
            &:hover{
                background: #2263ae;
            }
        }
    }
}
@media screen and (max-width:912px) {
    .subscribe{
        width: 720px;
        &__email{
            width: 465px;
            height: 52px;
            padding:17px 16px;
            &::placeholder{
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 18px;
                color: #96A1AC;
            }
        }
        &__btn{
            width: 135px;
            height: 52px;
            padding: 13.5px 16px;
            cursor: pointer;
            &:hover{
                background: #2263ae;
            }
        }
    }
}
@media screen and (max-width:768px) {
    .subscribe{
        width: 720px;
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 68px 60px;
        transform: translateY(95px);
        &__title{
            width: 600px;
            font-size: 2em;
            line-height: 48px;
            color: #FFFFFF;
            margin: 0;
            margin-bottom: 24px;
        }
        &__email{
            width:465px;
            &::placeholder{
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 18px;
                color: #96A1AC;
            }
        }
        &__btn{
            width: 135px;
            padding: 13.5px 16px;
            cursor: pointer;
            &:hover{
                background: #2263ae;
            }
        }
    }
}
@media screen and (max-width:576px) {
    .subscribe{
        width: 552px;
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 12px;
        transform: translateY(95px);
        &__title{
            width: 426px;
            font-size: 2em;
            line-height: 48px;
            color: #FFFFFF;
            margin: 0;
            margin-bottom: 24px;
        }
        &__email{
            width: 396px;
            &::placeholder{
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 18px;
                color: #96A1AC;
            }
        }
        &__btn{
            width: 135px;
            padding: 13.5px 16px;
            cursor: pointer;
            &:hover{
                background: #2263ae;
            }
        }
    }
}
@media screen and (max-width:540px) {
    .subscribe{
        width: 456px;
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 12px;
        transform: translateY(95px);
        &__title{
            width: 426px;
            font-size: 2em;
            line-height: 48px;
            color: #FFFFFF;
            margin: 0;
            margin-bottom: 24px;
        }
        &__email{
            width: 320px;
            padding: 0 12px;
            &::placeholder{
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 18px;
                color: #96A1AC;
            }
        }
        &__btn{
            width: 112px;
            padding: 11px 10px;
            cursor: pointer;
            &:hover{
                background: #2263ae;
            }
        }
    }
}
@media screen and(max-width:415px) {
    .subscribe{
        width: 390px;
        &__title{
            width: 320px;
            font-size: 1.5em;
        }
        &__email{
            width: 254px;
            padding: 14px 12px;
            &::placeholder{
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 18px;
                color: #96A1AC;
            }
        }
        &__btn{
            width: 112px;
            font-size: 0.9em;
            padding: 10.5px 10px;
        }
    }
}
@media screen and(max-width:394px) {
    .subscribe{
        width: 369px;
        &__title{
            width: 320px;
            font-size: 1.5em;
        }
        &__email{
            width: 209px;
            padding: 14px 12px;
            &::placeholder{
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 18px;
                color: #96A1AC;
            }
        }
        &__btn{
            width: 112px;
            font-size: 0.9em;
            padding: 10.5px 10px;
        }
    }
}
@media screen and(max-width:376px) {
    .subscribe{
        width: 351px;
        &__title{
            width: 320px;
            font-size: 1.5em;
        }
        &__email{
            width: 215px;
            padding: 14px 12px;
            &::placeholder{
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 18px;
                color: #96A1AC;
            }
        }
        &__btn{
            width: 112px;
            font-size: 0.9em;
            padding: 11px 10px;
        }
    }
}
@media screen and(max-width:361px) {
    .subscribe{
        width: 336px;
        &__title{
            width: 312px;
            font-size: 1.5em;
        }
        &__email{
            width: 198px;
            padding: 14px 12px;
            &::placeholder{
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 18px;
                color: #96A1AC;
            }
        }
        &__btn{
            width: 112px;
            font-size: 0.9em;
            padding: 10px 10px;
        }
    }
}
@media screen and (max-width:320px) {
    .subscribe{
        width: 296px;
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 12px;
        transform: translateY(95px);
        &__title{
            width:272px;
            font-size: 1.5em;
            line-height: 48px;
            color: #FFFFFF;
            margin: 0;
            margin-bottom: 24px;
        }
        &__email{
            width: 156px;
            padding: 14px 12px;
            &::placeholder{
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 18px;
                color: #96A1AC;
            }
        }
        &__btn{
            width: 112.2px;
            padding: 11px 10px;
            cursor: pointer;
            &:hover{
                background: #2263ae;
            }
        }
    }
}