.service{
    padding-top: 120px;
    height: 480px;
    &__content-global{
        position: relative;
        height: 480px;
    }
    &__content{
        display: flex;
        align-items: center;
        z-index: 1;
        height: 480px;
    }
    &__content-slide{
        width: 1140px;
        height: 480px;
        display: flex;
        align-items:flex-start;
        justify-content: space-between;
        
    }
    &__title{
        width: 440px;
        font-style: normal;
        font-weight: 700;
        font-size: 2.5em;
        line-height: 56px;
        margin: 0;
        margin-bottom: 40px;
        color: #1B283B;
    }
    
    &__box{
        display: flex;
        align-items: center;
        margin-bottom: 24px;
        transition: 0.3s all ease-in-out; 
        & svg{
            margin-left: 8px;
        }  
        &:hover{
            cursor: pointer;
            transition: 0.3s;
            
        }
        &:hover svg{
            transition: 0.3s all ease-in-out;   
            transform: translateX(10px);
        }
        
    }
    
    &__subtitle{
        font-style: normal;
        font-weight: 600;
        font-size: 1.5em;
        line-height: 29px;
        color: #1B283B;
        margin: 0;
        &:hover{
            color:  #0d6efd;
        }
    }
    
    &__text{
        width: 440px;
        font-style: normal;
        font-weight: 400;
        font-size: 1em;
        line-height: 26px;
        color: #6B7A8C;
    }
    &__img-family{
        border-radius: 30px;
        object-fit:contain !important;
    }
    .swiper-slide{
        opacity: 0 !important;
    }
    .swiper-slide-active{
        opacity: 1 !important;
    }
    .swiper-button-prev{
        box-sizing: border-box;
        display: flex;
        align-items: center;
        width: 36px;
        height: 36px;
        margin-top: 203px;
        position: absolute;
        left: 0;
        border-radius: 50%;
        &::after{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 6px;
            height: 10px;
            font-size: var(--swiper-button-prev);
            content:icon;
        }
    }
    .swiper-button-next{
        box-sizing: border-box;
        width: 36px;
        height: 36px;
        margin-top: 203px;
        position: absolute;
        left: 52px;
        border-radius: 50%;
        &::after{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 6px;
            height: 10px;
            font-size: var(--swiper-button-prev);
            content: icon;
        }    
    }
}

@media screen and (max-width:991px) {
    .service{
        padding-top: 80px;
        height: 790px;
        text-align: left;
        &__content-global{
            position: relative;
            height: 790px;
        }
        &__content{
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 1;
            height: 790px;
        }
        &__content-slide{
            width: 720px;
            height: 790px;
            display: flex;
            flex-direction: column;
            align-items: center;
            
        }
        &__title{
            width: 720px;
            font-size: 34.4px;
            line-height: 48px;
            margin: 0;
            margin-bottom: 36px;
        }
        &__box{
            width: 415px;
            margin-bottom: 20px;
        }
        &__img-family{
            border-radius: 30px;
            object-fit:cover;
        }
        &__text{
            width: 720px;
            font-size: 15px;
            line-height: 24px;
            height: 96px;
        }
        .swiper-button-prev{
            box-sizing: border-box;
            display: flex;
            align-items: center;
            width: 36px;
            height: 36px;
            margin-top: -150px;
            position: absolute;
            left: 0;
            border-radius: 50%;
            &::after{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 6px;
                height: 10px;
                font-size: var(--swiper-button-prev);
                content:icon;
            }
        }
        .swiper-button-next{
            box-sizing: border-box;
            width: 36px;
            height: 36px;
            margin-top: -150px;
            position: absolute;
            left: 52px;
            border-radius: 50%;
            &::after{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 6px;
                height: 10px;
                font-size: var(--swiper-button-prev);
                content: icon;
            }    
        }
    }
}
@media screen and (max-width:768px) {
    .service{
        padding-top: 80px;
        height: 837px;
        text-align: left;
        &__content-global{
            position: relative;
            height: 837px;
        }
        &__content{
            display: flex;
            align-items: center;
            z-index: 1;
            height: 837px;
        }
        &__content-slide{
            width: 552px;
            height: 837px;
            display: flex;
            flex-direction: column;
            
        }
        &__title{
            width: 552px;
            font-size: 34.4px;
            line-height: 48px;
            margin: 0;
            margin-bottom: 36px;
        }
        &__box{
            width: 415px;
            margin-bottom: 20px;
        }
        &__img-family{
            width: 496px;
            height: 480px;
            border-radius: 30px !important;
            object-fit:cover !important;
        }
        &__text{
            width: 552px;
            height: 108px;
            font-size: 15px;
            line-height: 20px;
        }
        .swiper-button-prev{
            box-sizing: border-box;
            display: flex;
            align-items: center;
            width: 36px;
            height: 36px;
            margin-top: -150px;
            position: absolute;
            left: 0;
            border-radius: 50%;
            &::after{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 6px;
                height: 10px;
                font-size: var(--swiper-button-prev);
                content:icon;
            }
        }
        .swiper-button-next{
            box-sizing: border-box;
            width: 36px;
            height: 36px;
            margin-top: -150px;
            position: absolute;
            left: 52px;
            border-radius: 50%;
            &::after{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 6px;
                height: 10px;
                font-size: var(--swiper-button-prev);
                content: icon;
            }    
        }
    }
}
@media screen and (max-width:576px) {
    .service{
        padding-top: 80px;
        height: 829px;
        text-align: left;
        &__content-global{
            position: relative;
            height: 829px;
        }
        &__content{
            display: flex;
            align-items: center;
            z-index: 1;
            height: 837px;
        }
        &__content-slide{
            width: 456px;
            height: 837px;
            display: flex;
            flex-direction: column;
            
        }
        &__title{
            width: 456px;
            font-size: 34.4px;
            line-height: 48px;
            margin: 0;
            margin-bottom: 36px;
        }
        &__box{
            width: 410px;
            margin-bottom: 20px;
        }
        &__subtitle{
            font-size: 1.375em;
            line-height: 29px;
            &:hover{
                color:  #0d6efd;
            }
        }
        &__img-family{
            width: 410.5px;
            height: 400px;
            border-radius: 30px;
            object-fit: cover !important;
        }
        &__text{
            width: 456px;
            height: 136px;
            font-size: 15px;
            line-height: 20px;
        }
        .swiper{
            height: 829px;
        }
        .swiper-button-prev{
            box-sizing: border-box;
            display: flex;
            align-items: center;
            width: 36px;
            height: 36px;
            margin-top: -70px;
            position: absolute;
            left: 0;
            border-radius: 50%;
            &::after{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 6px;
                height: 10px;
                font-size: var(--swiper-button-prev);
                content:icon;
            }
        }
        .swiper-button-next{
            box-sizing: border-box;
            width: 36px;
            height: 36px;
            margin-top: -70px;
            position: absolute;
            left: 52px;
            border-radius: 50%;
            &::after{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 6px;
                height: 10px;
                font-size: var(--swiper-button-prev);
                content: icon;
            }    
        }
    }
}
@media screen and (max-width:320px) {
    .service{
        padding-top: 80px;
        height: 829px;
        text-align: left;
        &__content-global{
            position: relative;
            height: 885px;
        }
        &__content{
            display: flex;
            align-items: center;
            z-index: 1;
            height: 885px;
        }
        &__content-slide{
            width: 296px;
            height: 885px;
            display: flex;
            flex-direction: column;
            
        }
        &__title{
            width: 296px;
            font-size: 32px;
            line-height: 48px;
            margin: 0;
            margin-bottom: 36px;
        }
        &__box{
            width: 296px;
            margin-bottom: 20px;
        }
        &__subtitle{
            width: 250px;
            font-size: 1.375em;
        }
        &__img-family{
            width: 266.4px;
            height: 360px;
            border-radius: 30px;
            object-fit:cover!important;
        }
        &__text{
            width: 296px;
            height: 136px;
            font-size: 15px;
            line-height: 20px;
        }
        .swiper{
            height: 829px;
        }
        .swiper-button-prev{
            box-sizing: border-box;
            display: flex;
            align-items: center;
            width: 36px;
            height: 36px;
            margin-top: 0px;
            position: absolute;
            left: 0;
            border-radius: 50%;
            &::after{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 6px;
                height: 10px;
                font-size: var(--swiper-button-prev);
                content:icon;
            }
        }
        .swiper-button-next{
            box-sizing: border-box;
            width: 36px;
            height: 36px;
            margin-top:0px;
            position: absolute;
            left: 52px;
            border-radius: 50%;
            &::after{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 6px;
                height: 10px;
                font-size: var(--swiper-button-prev);
                content: icon;
            }    
        }
    }
}
