.aboutus{
    padding-top: 415px;
    &__content{
        display: flex;
        align-items: center;
    }
    &__image{
        width: 546px;
        height: 546px;
        margin-right: 100px;
        position: relative;
    }
    &__decor {
        &-right {
            position: absolute;
            top: -53px;
            left: -52px;
        }   
        &-left {
            position: absolute;
            bottom: -53px;
            right: -52px;
        } 
    }
    &__subtitle{
        width: 494px;
        font-style: normal;
        font-weight: 700;
        font-size: 2.5em;
        line-height: 56px;
        color: #1B283B;
        margin: 0;
        margin-bottom: 32px;
    }
    &__text{
        width: 494px;
        font-style: normal;
        font-weight: 400;
        font-size: 1em;
        line-height: 26px;
        margin-bottom: 48px;
    }
    &__btn{
        font-style: normal;
        font-weight: 400;
        font-size: 1em;
        line-height: 24px;
        text-align: center;
        border-radius: 10px;
        border: none;
        padding: 14px 16px;
        margin-bottom: 48px;
        cursor: pointer;
        transition: 0.35s;
    }
    &__list{
        display: flex;
        align-items: center;
        
    }
    &__item{
        margin-right: 50px;
        text-align: left;
    }
    &__count{
        display: flex;
        align-items: center;
        font-style: normal;
        font-weight: 600;
        font-size: 2.5em;
        line-height: 56px;
        color: #000000;
        margin-bottom: 6px;
    }
    &__plus{
        font-style: normal;
        font-weight: 600;
        font-size: 1.5em;
        line-height: 56px;
        
    }
    &__discription{
        width: 104px;
        font-style: normal;
        font-weight: 400;
        font-size: 1em;
        line-height: 24px;
        color: #6B7A8C;
    }
}

@media screen and (max-width:991px) {
    .aboutus{
        padding-top: 540px;
        &__content{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
        &__image{
            margin: 0;
            margin-bottom: 24px;
        }
        &__decor-right{
            display: none;
        }
        &__decor-left{
            display: none;
        }
        &__subtitle{
            margin-bottom: 28px;
        }
        &__text{
            margin-bottom: 40px;
        }
        &__btn{
            margin-bottom: 40px;
        }
    }
}
@media screen and (max-width:768px) {
    .aboutus{
        padding-top: 539px;
        &__content{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
        &__image{
            margin: 0;
            margin-bottom: 24px;
        }
        &__decor-right{
            display: none;
        }
        &__decor-left{
            display: none;
        }
        &__subtitle{
            width: 546px;
            margin-bottom: 28px;
        }
        &__text{
            width: 546px;
            margin-bottom: 40px;
        }
        &__btn{
            margin-bottom: 40px;
        }
    }
}
@media screen and (max-width:576px) {
    .aboutus{
        padding-top: 860px;
        &__content{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
        &__image{
            width: 410.5px;
            height: 410.5px;
           & > img{
            width: 410.5px;
            height: 410.5px;
           }
            margin: 0;
            margin-bottom: 24px;
        }
        &__decor-right{
            display: none;
        }
        &__decor-left{
            display: none;
        }
        &__subtitle{
            width: 456px;
            font-size: 2.15em;
            line-height: 48px;
            margin-bottom: 28px;
        }
        &__text{
            width: 456px;
            line-height: 24px;
            margin-bottom: 40px;
        }
        &__btn{
            margin-bottom: 40px;
        }
    }
}
@media screen and (max-width:320px) {
    .aboutus{
        padding-top: 799px;
        &__content{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
        &__image{
            width: 266.4px;
            height: 266.4px;
           & > img{
            width: 266.4px;
            height: 266.4px;
           }
            margin: 0;
            margin-bottom: 24px;
        }
        &__decor-right{
            display: none;
        }
        &__decor-left{
            display: none;
        }
        &__subtitle{
            width:296px;
            font-size: 2.15em;
            line-height: 48px;
            margin-bottom: 28px;
            margin-right: 0;
        }
        &__text{
            width: 296px;
            line-height: 24px;
            margin-bottom: 40px;
        }
        &__btn{
            margin-bottom: 40px;
        }
        &__list{
            width: 296px;
        }
        &__item{
            margin-right: 36px;
            &:last-child{
                margin-right: 0;
            }
        }
    }
}