.header{
    &__nav{
        padding: 12px 0 12px 0;
        margin-bottom: 16px;
        position: relative;
    }
    &__nav-lists{
        width: 1140px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__nav-items{
        position: relative;
        display: flex;
        align-items: center;
        height: 18px;
        
    }
    &__nav-list{
        display: flex;
        align-items: center;
    }
    .show{
        color: #cc9713;
        text-shadow: 0 0 8px #cc9713;
    }
    .icon{
        fill:#cc9713 ;   
        &:hover .header__nav-icon svg path{
            transition: 350ms;
            fill-opacity: 1;
            fill: #fff;
        }     
        &:hover .header__nav-text{
            transition: 350ms;
            fill: #cc9713;
        }
    }
    &__nav-closeview{
        display: none;
        transition: 0.5s;
    }
    &__nav-openview{
        display: block;
        position: absolute;
        left: 0;
        background-color: #fff;
        border-radius: 4px;
        transform: translate3d(400px, 95px, 0px);
        padding: 8px 0; 
        z-index: 10;
        transition: 0.5s;
        &>li:nth-child(1){
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    &__nav-viewline{
        width: 163.5px;
        height: 1px;
        border: none;
        background-color: rgba(0, 0, 0, 0.15);
    }
    &__nav-viewdarkmode{
        position: relative;
        
    }
    input[type="checkbox"]{
        box-sizing: border-box;
        position: relative;
        width: 60px;
        height: 30px;
        -webkit-appearance:none;
        background-color: #fff;
        border: 1px solid #000;
        outline: none;
        border-radius: 20px;
        box-shadow: inset 0 0  5px rgba(0,0,0,0.2);
        transition: .5s;
    }
    input:checked[type="checkbox"]{
        background:rgb(0,0,0);
    }
    input[type="checkbox"]::before{
        content: '';
        position: absolute;
        width: 30px;
        height:30px;
        border-radius: 20px;
        top: 0;
        left: 0;
        background: #000;
        box-shadow: 0 2px 5px rgba(0,0,0,.2);
        transition: .5s;
        transform:scale(0.7) translateY(-1px);
    }
    input:checked[type="checkbox"]::before{
        left: 30px;
        background: #fff;
    }
    &__nav-my-size{
        width: 155.5px;
        padding: 4px;
        text-align: center;
        font-weight: normal;
        font-size: 16px !important;
        color: #212529;
    }
    &__nav-font-size{
        width: 143.5px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: 0 10px;
        margin-top: 10px;
    }
    &__nav-font-size2{
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
    &__nav-decremet{
        width: 40px;
        height: 40px;
        font-weight: normal;
        font-size: 12px;
        background-color: rgb(51, 51, 51);
        color: #fff;
        transition: .35s ease;
        border-radius: 8px;
        display:flex;
        align-items: center;
        justify-content: center;
        z-index: 99;
        &:hover{
            background-color: rgba(51, 51, 51,0.7);
        }
    }
    &__nav-auto{
        width: 40px;
        height: 40px;
        background-color: #333;
        color: #fff;
        font-size: 16px !important;
        transition: .35s ease;
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 99;
        margin:0 10.75px;
        &:hover{
            color: #000;
            background: rgba(0,0,0,0.1);
        }
    }
    &__nav-incremet{
        width: 40px;
        height: 40px;
        font-weight: normal;
        font-size: 18px;
        background-color: #333;
        color: #fff;
        transition: .35s ease;
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 99;
        &:hover{
            background-color: rgba(51, 51, 51,0.7);
        }
    }
    &__nav-item{
        display: flex;
        align-items: center;
        transition: 0.35s;
        &:nth-child(1){
            display: flex;
            align-items: center;
            padding-left: 0;
        }
        &:last-child{
            display: flex;
            align-items: center;
            padding-right: 0;
        }
        &:hover .header__nav-icon svg path{
            transition: 350ms;
            fill-opacity: 1;
        }
        &:hover .header__nav-text{
            transition: 350ms;
            color: #fff;
        }
    }
    &__nav-item-line{
        margin-left: 16px;
        margin-right: 18px;
    }
    &__nav-border-line{
        width: 1px;
        height: 18px;
        border: none;
        margin: 0;
        background-color: rgba(255, 255, 255, 0.12);;
    }
    &__nav-lang-uz{
        display: flex;
        align-items: center;
        font-style: normal;
        font-weight: 400;
        font-size: 0.75em;
        line-height: 15px;
        &:hover .header__nav-icon-arrow svg path{
            transition: 350ms;
            fill-opacity: 1;
        }
        &:hover{
            transition: 350ms;
            color: #fff;
        }
    }
    &__nav-lang-ru{
        display: flex;
        align-items: center;
        font-style: normal;
        font-weight: 400;
        font-size:0.75em;
        line-height: 15px;
        &:hover .header__nav-icon-arrow svg path{
            transition: 350ms;
            fill-opacity: 1;
        }
        &:hover{
            transition: 350ms;
            color: #fff;
        }
    }
    &__nav-lang-en{
        display: flex;
        align-items: center;
        font-style: normal;
        font-weight: 400;
        font-size: 0.75em;
        line-height: 15px;
        &:hover .header__nav-icon-arrow svg path{
            transition: 350ms;
            fill-opacity: 1;
        }
        &:hover{
            transition: 350ms;
            color: #fff;
        }
    }
    &__nav-icon-flag{
        display: flex;
        align-items: center;
        margin-right: 8px;
        & img{
            border-radius: 50%;
        }
    }
    &__nav-icon-arrow{
        display: flex;
        align-items: center;
        margin-left: 6px;
    }
    &__nav-line{
        width: 1px;
        height: 18px;
        background-color:rgba(255, 255, 255, 0.12);
        border: none;
        margin-left: 16px;
        margin-right: 18px;
        
    }
    &__nav-icon{
        display: flex;
        align-items: center;
    }
    &__nav-phonespan{
        display: flex;
        align-items: center;
        justify-content: space-between;
        transition: 0.35s;
        &:hover .header__nav-icon-phone svg path{
            transition: 350ms;
            fill-opacity: 1;
        }
        &:hover .header__nav-phonenumber{
            transition: 350ms;
            color: #fff;
        }
    }
    &__nav-phonenumber{
        font-weight: 400;
        font-size: 0.75em;
        line-height: 15px;
        margin-left: 10px;
        cursor: pointer;
    }
    &__nav-text{
        font-style: normal;
        font-weight: 400;
        font-size: 0.75em;
        line-height: 15px;
        margin-left: 10px;
        transition: 0.35s;
    }
    &__nav-closemodal{
        display: none;
    }
    &__nav-openmodal{
        display: block;
        position: absolute;
        background-color: #fff;
        border-radius: 4px;
        padding: 6px 0px;
        inset: 0px auto auto 0px;
        margin: 0px;
        transform: translate3d(0px, 18.4px, 0px);
        
    }
    &__nav-otherlang{
        width: 126px;
        display: flex;
        align-items: center;   
        padding: 4px 16px; 
        font-style: normal;
        font-weight: 400;
        font-size: 0.75em;
        line-height: 15px;
        color: #000;
        
        &:hover{
            background-color:#d2dbe8 ;
        }
    }
    &__nav-closesearch{
        display: none;
        transition: 0.35s;
    }
    &__nav-opensearch{
        width: 1170px;
        height: 53px;
        display: block;
        position: absolute;
        inset: 0px auto;
        margin: 0px;
        transform: translate3d(-1095px,45px, 0px);
        transition:350ms ;
        box-shadow: none;
        &:hover .search-text{
            transition: 350ms;
            color: #cc9713 !important;
        }
        
    }
    &__nav-form{
        box-shadow: 0 0 12px #000;
        border-radius: 10px;
        display: flex;
        align-items: center;
    }
    &__nav-form-input{
        width: 1061px;
        height: 21px;
        padding: 16px 16px;
        outline: none;
        border: none;
        border-radius: 10px 0 0px 10px !important;
        display: flex;
        align-items: center;
        &::placeholder{
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 28px;
        }
    }
    &__nav-form-btn{
        font-style: normal;
        font-weight: 400;
        font-size: 1em;
        line-height: 24px;
        color: #FFFFFF;
        background: #3E96FC;
        border: none;
        padding: 14.5px 16px;
        border-radius: 0 10px 10px 0 !important;
        transition: 0.35s;
        &:hover{
            background: #2263ae;
        }
    }
}

@media screen and (max-width:991px) {
    .header{
        &__nav{
            display: none;
        }
        &__nav-open{
            width: 720px;
            box-sizing: border-box;
            display: block;
            padding: 0;
            margin: 0;
            height: 342px;
            background-color: #0D2851;
            position: absolute;
            z-index: 10;
            top: 150px;
            left: 135px;
        }
        &__nav-lists{
            width: 672px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 24px;
            padding-bottom: 0;
        }
        &__nav-items{
            width: 648px;
            height: 74px;
            margin-bottom: 8px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            &:last-child{
                height:228px ;
            }
        }
        &__nav-list{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            
        }
        &__nav-item{
            width: 648px;
            height: 38px;
            box-sizing: border-box;
            padding: 10px 8px !important;
        }
        &__nav-line{
            display: none;
        }
        &__nav-phonespan{
            width: 648px;
            display: flex;
            justify-content: start;
            padding: 10px 8px;
        }
        &__nav-lang-ru{
            width: 648px;
            padding: 10px 8px ;
        }
        &__nav-lang-uz{
            width: 648px;
            padding: 10px 8px ;
        }
        &__nav-lang-en{
            width: 648px;
            padding: 10px 8px ;
        }
        &__nav-openview{
            transform: translate3d(0px, 95px, 0px);
            
        }
        &__nav-item-line{
            display: none;
        }
        &__nav-openmodal{
            transform: translate3d(0px, 35px, 0px);
            
        }
        &__nav-opensearch{
            width: 720px;
            height: 53px;
            transform: translate3d(-30px,250px, 0px);
            z-index: 10;
            
        }
        &__nav-form{
            box-shadow: 0 0 12px #000;
            border-radius: 10px;
            display: flex;
            align-items: center;
        }
        &__nav-form-input{
            width: 610px;
            height: 21px;
            padding: 16px 16px;
            outline: none;
            border: none;
            border-radius: 10px 0 0px 10px !important;
            display: flex;
            align-items: center;
            &::placeholder{
                font-style: normal;
                font-weight: 400;
                font-size: 15px;
                line-height: 28px;
            }
        }
        &__nav-form-btn{
            font-style: normal;
            font-weight: 400;
            font-size: 1em;
            line-height: 24px;
            color: #FFFFFF;
            background: #3E96FC;
            border: none;
            padding: 14.5px 16px;
            border-radius: 0 10px 10px 0 !important;
            transition: 0.35s;
            &:hover{
                background: #2263ae;
            }
        }
    }
}
@media screen and (max-width:768px) {
    .header{
        &__nav{
            display: none;
        }
        &__nav-open{
            width: 572px;
            box-sizing: border-box;
            display: block;
            padding: 0;
            margin: 0;
            height: 342px;
            background-color: #0D2851;
            position: absolute;
            z-index: 10;
            top: 95px;
            left: 95px;
        }
        &__nav-lists{
            width: 528px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 24px;
            padding-left: 14px;
            padding-bottom: 0;
        }
        &__nav-items{
            width: 504px;
            height: 74px;
            margin-bottom: 8px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            &:last-child{
                height:228px ;
            }
        }
        &__nav-list{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            
        }
        &__nav-item{
            width: 504px;
            height: 38px;
            border-radius: 8px;
            box-sizing: border-box;
            padding: 10px 8px !important;
            &:hover{
                background-color: #0A2041;
            }
        }
        &__nav-line{
            display: none;
        }
        &__nav-openview{
            transform: translate3d(0px, 95px, 0px);
            
        }
        &__nav-phonespan{
            width: 504px;
            border-radius: 8px;
            display: flex;
            justify-content: start;
            padding: 10px 8px;
            &:hover{
                background-color: #0A2041;
            }
        }
        &__nav-lang-ru{
            width: 504px;
            padding: 10px 8px ;
            border-radius: 8px;
            &:hover{
                background-color: #0A2041;
            }
        }
        &__nav-lang-uz{
            width: 504px;
            padding: 10px 8px ;
            border-radius: 8px;
            &:hover{
                background-color: #0A2041;
            }
        }
        &__nav-lang-en{
            width: 504px;
            padding: 10px 8px ;
            border-radius: 8px;
            &:hover{
                background-color: #0A2041;
            }
        }
        &__nav-item-line{
            display: none;
        }
        &__nav-openmodal{
            transform: translate3d(0px, 35px, 0px);
            
        }
        &__nav-opensearch{
            width: 552px;
            height: 53px;
            transform: translate3d(-30px,250px, 0px);
            z-index: 10;
            
        }
        &__nav-form{
            box-shadow: 0 0 12px #000;
            border-radius: 10px;
            display: flex;
            align-items: center;
        }
        &__nav-form-input{
            width: 473px;
            height: 40px;
            padding: 16px 16px;
            outline: none;
            border: none;
            border-radius: 10px 0 0px 10px !important;
            display: flex;
            align-items: center;
            &::placeholder{
                font-style: normal;
                font-weight: 400;
                font-size: 15px;
                line-height: 28px;
            }
        }
        &__nav-form-btn{
            font-style: normal;
            font-weight: 400;
            font-size: 1em;
            line-height: 21.5px;
            color: #FFFFFF;
            background: #3E96FC;
            border: none;
            padding: 14.5px 16px;
            border-radius: 0 10px 10px 0 !important;
            transition: 0.35s;
            &:hover{
                background: #2263ae;
            }
        }
    }
}
@media screen and (max-width:576px) {
    .header{
        &__nav{
            display: none;
        }
        &__nav-open{
            width: 480px;
            box-sizing: border-box;
            display: block;
            padding: 0;
            margin: 0;
            height: 342px;
            background-color: #0D2851;
            position: absolute;
            z-index: 10;
            top: 95px;
            left: 50px;
        }
        &__nav-lists{
            width: 440px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 12px;
            padding-left: 10px;
            padding-right: 14px;
            padding-bottom: 0;
        }
        &__nav-items{
            width: 440px;
            height: 74px;
            margin-bottom: 8px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            &:last-child{
                height:228px ;
            }
        }
        &__nav-list{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            
        }
        &__nav-item{
            width: 440px;
            height: 38px;
            border-radius: 8px;
            box-sizing: border-box;
            padding: 10px 8px !important;
            &:hover{
                background-color: #0A2041;
            }
        }
        &__nav-openview{
            transform: translate3d(0px, 95px, 0px);
            
        }
        &__nav-line{
            display: none;
        }
        &__nav-phonespan{
            width: 424px;
            border-radius: 8px;
            display: flex;
            justify-content: start;
            padding: 10px 8px;
            &:hover{
                background-color: #0A2041;
            }
        }
        &__nav-lang-ru{
            width: 424px;
            padding: 10px 8px ;
            border-radius: 8px;
            &:hover{
                background-color: #0A2041;
            }
        }
        &__nav-lang-uz{
            width: 424px;
            padding: 10px 8px ;
            border-radius: 8px;
            &:hover{
                background-color: #0A2041;
            }
        }
        &__nav-lang-en{
            width: 424px;
            padding: 10px 8px ;
            border-radius: 8px;
            &:hover{
                background-color: #0A2041;
            }
        }
        &__nav-item-line{
            display: none;
        }
        &__nav-openmodal{
            transform: translate3d(0px, 35px, 0px);
            
        }
        &__nav-opensearch{
            width: 552px;
            height: 53px;
            transform: translate3d(-30px,250px, 0px);
            z-index: 10;
            
        }
        &__nav-form{
            box-shadow: 0 0 12px #000;
            border-radius: 10px;
            display: flex;
            align-items: center;
        }
        &__nav-form-input{
            width: 473px;
            height: 40px;
            padding: 16px 16px;
            outline: none;
            border: none;
            border-radius: 10px 0 0px 10px !important;
            display: flex;
            align-items: center;
            &::placeholder{
                font-style: normal;
                font-weight: 400;
                font-size: 15px;
                line-height: 28px;
            }
        }
        &__nav-form-btn{
            font-style: normal;
            font-weight: 400;
            font-size: 1em;
            line-height: 21.5px;
            color: #FFFFFF;
            background: #3E96FC;
            border: none;
            padding: 14.5px 16px;
            border-radius: 0 10px 10px 0 !important;
            transition: 0.35s;
            &:hover{
                background: #2263ae;
            }
        }
    }
}
@media screen and (max-width:320px) {
    .header{
        &__nav{
            display: none;
        }
        &__nav-open{
            width: 320px;
            height: 342px;
            box-sizing: border-box;
            display: block;
            padding: 0;
            margin: 0;
            background-color: #0D2851;
            position: absolute;
            z-index: 10;
            top: 95px;
            left: 0px;
        }
        &__nav-lists{
            width: 280px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 12px;
            padding-left: 8px;
            padding-right: 20px;
            padding-bottom: 0;
        }
        &__nav-items{
            width: 280px;
            height: 74px;
            margin-bottom: 8px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            &:last-child{
                height:228px ;
            }
        }
        &__nav-list{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            
        }
        &__nav-item{
            width:280px;
            height: 38px;
            border-radius: 8px;
            box-sizing: border-box;
            padding: 10px 8px !important;
            &:hover{
                background-color: #0A2041;
            }
        }
        &__nav-openview{
            transform: translate3d(0px, 95px, 0px);
            
        }
        &__nav-line{
            display: none;
        }
        &__nav-phonespan{
            width: 280px;
            border-radius: 8px;
            display: flex;
            justify-content: start;
            padding: 10px 8px;
            &:hover{
                background-color: #0A2041;
            }
        }
        &__nav-lang-ru{
            width: 280px;
            padding: 10px 8px ;
            border-radius: 8px;
            &:hover{
                background-color: #0A2041;
            }
        }
        &__nav-lang-uz{
            width: 280px;
            padding: 10px 8px ;
            border-radius: 8px;
            &:hover{
                background-color: #0A2041;
            }
        }
        &__nav-lang-en{
            width: 280px;
            padding: 10px 8px ;
            border-radius: 8px;
            &:hover{
                background-color: #0A2041;
            }
        }
        &__nav-item-line{
            display: none;
        }
        &__nav-openmodal{
            transform: translate3d(0px, 35px, 0px);
            
        }
        &__nav-opensearch{
            width: 320px;
            height: 53px;
            transform: translate3d(-30px,250px, 0px);
            z-index: 10;
            
        }
        &__nav-form{
            box-shadow: 0 0 12px #000;
            border-radius: 10px;
            display: flex;
            align-items: center;
        }
        &__nav-form-input{
            width: 211.8px;
            height: 21px;
            padding: 16px 16px;
            outline: none;
            border: none;
            border-radius: 10px 0 0px 10px !important;
            display: flex;
            align-items: center;
            &::placeholder{
                font-style: normal;
                font-weight: 400;
                font-size: 15px;
                line-height: 28px;
            }
        }
        &__nav-form-btn{
            font-style: normal;
            font-weight: 400;
            font-size: 0.875em;
            line-height: 21px;
            color: #FFFFFF;
            background: #3E96FC;
            border: none;
            padding:16px 16px;
            border-radius: 0 10px 10px 0 !important;
            transition: 0.35s;
            &:hover{
                background: #2263ae;
            }
        }
    }
}



