.pakcage{
    &__content{
        display: flex;
        flex-direction: column;
        align-items: center; 
        padding: 42px 50px 50px 50px;
        background: #fff;
        box-shadow: 0px 8px 24px -4px rgba(12, 38, 78, 0.1);
        border-radius: 30px;
        position: absolute;
        transform: translateY(-85px);
    }
    &__subtitle{
        font-style: normal;
        font-weight: 700;
        font-size: 1.5em;
        line-height: 29px;
        color: #1B283B;
        margin: 0;
        margin-bottom: 24px;
    }
    &__btns{
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: #F5F8FC;
        border-radius: 10px;
        margin-bottom: 48px;
        padding: 4px;
    }
    &__btn1{
        font-style: normal;
        font-weight: 400;
        font-size: 0.875em;
        line-height: 21px;
        color: #1B283B;
        padding: 8px 16px;
        background: #F5F8FC;
        border-radius: 10px;
        border: none;
        cursor: pointer;
    }
    
    &__btn1-check1{
        font-style: normal;
        font-weight: 400;
        font-size: 0.875em;
        line-height: 21px;
        color: #1B283B;
        padding: 8px 16px;
        background: #FFFFFF;
        transition: 0.15s;
        box-shadow: 0px 3px 6px rgba(140, 152, 164, 0.25);
        border-radius: 10px;
        border: none;
        cursor: pointer;
    }
    
    &__btn2{
        font-style: normal;
        font-weight: 400;
        font-size: 0.875em;
        line-height: 21px;
        color: #1B283B;
        background: #F5F8FC;
        border-radius: 10px;
        padding: 12px 20px 12px 16px;
        border: none;
        cursor: pointer;
        
    }
    &__btn2-check2{
        font-style: normal;
        font-weight: 400;
        font-size: 0.875em;
        line-height: 21px;
        color: #1B283B;
        padding: 8px 16px;
        background: #FFFFFF;
        transition: 0.15s;
        box-shadow: 0px 3px 6px rgba(140, 152, 164, 0.25);
        border-radius: 10px;
        border: none;
        cursor: pointer;
    }
    
    &__list{
        width: 1040px;
        display: flex;
        align-items: center; 
        flex-wrap: wrap;
    }
    &__item{
        width: 242px;
        height: 142px;
        box-sizing: border-box;
        text-align: center;
        margin-right: 24px;
        padding: 37px 24px 23px 24px;
        background: #FFFFFF;
        border: 1px solid #E7EAEE;
        border-radius: 18px;
        transition: 0.35s;
        &:last-child{
            margin-right: 0;
        }
        &:hover{
            padding:37px 23px 23px 23px;
            box-sizing: border-box;
            border: 2px solid #3E96FC;
            cursor: pointer;
        }
        
    }
    @keyframes text {
        0%{opacity: 0;}
        100%{opacity: 0;}
    }
    &__text{
        font-style: normal;
        font-weight: 500;
        font-size: 1em;
        line-height: 20px;
        color: #6B7A8C;
        margin-top: 24px;
        animation: text 0.35s;
        text-align: center;
    }
}

@media screen and (max-width:991px) {
    .pakcage{
        display: block;
        &__list{
            width: 620px;
            display: flex;
            align-items: center; 
            flex-wrap: wrap;
        }
        &__item{
            width: 300px;
            height: 142px;
            text-align: center;
            margin-right: 20px;
            
            &:nth-child(1){
                margin-bottom: 24px;
            }
            &:nth-child(2){
                margin-bottom: 24px;
            }
            &:nth-child(2n){
                margin-right: 0;
            }
            &:last-child{
                margin-right: 0;
            }
        }
    }
}
@media screen and (max-width:768px) {
    .pakcage{
        &__list{
            width: 450px;
            display: flex;
            align-items: center; 
            flex-wrap: wrap;
        }
        &__item{
            width: 212px;
            height: 142px;
            text-align: center;
            margin-right: 0px;
            
            &:nth-child(1){
                margin-bottom: 24px;
                margin-right: 24px;
            }
            &:nth-child(2){
                margin-bottom: 24px;
            }
            &:nth-child(3){
                margin-right: 24px;
            }
            &:nth-child(2n){
                margin-right: 0;
            }
            &:last-child{
                margin-right: 0;
            }
        }
    }
}
@media screen and (max-width:576px) {
    .pakcage{
        &__list{
            width: 356px;
            display: flex;
            align-items: center; 
            flex-wrap: wrap;
        }
        &__item{
            width: 362px;
            height: 142px;
            text-align: center;
            margin-right: 0px;
            margin-bottom: 24px;
            &:nth-child(1){
                margin-bottom: 24px;
                margin-right: 0px;
            }
            &:nth-child(2){
                margin-bottom: 24px;
            }
            &:nth-child(3){
                margin-right: 0px;
            }
            &:nth-child(2n){
                margin-right: 0;
            }
            &:last-child{
                margin-right: 0;
                margin-bottom: 0;
            }
        }
    }
}
@media screen and (max-width:320px) {
    .pakcage{
        &__content{
            width: 264px;
            padding: 32px 16px 16px 16px;
        }
        &__btns{
            width: 264px;
            border-radius: 10px;
            margin-bottom: 48px;
            padding: 4px;
        }
        &__btn1{
            width: 130px;
            font-size: 12px;
            padding: 8px;
        }
        
        &__btn1-check1{
            width: 130px;
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            padding: 8px;
            
        }
        
        &__btn2{
            width: 130px;
            font-size: 12px;
            background: #F5F8FC;
            border-radius: 10px;
            padding: 8px;
            border: none;
            cursor: pointer;
        }
        
        &__btn2-check2{
            width: 130px;
            font-size: 12px;
            padding: 8px;       
        }
        &__list{
            width: 264px;
            display: flex;
            align-items: center; 
            flex-wrap: wrap;
        }
        &__item{
            width: 264px;
            height: 142px;
            text-align: center;
            margin-right: 0px;
            margin-bottom: 24px;
            padding: 32px 20px 20px 20px;
            &:nth-child(1){
                margin-bottom: 24px;
                margin-right: 0px;
            }
            &:nth-child(2){
                margin-bottom: 24px;
            }
            &:nth-child(3){
                margin-right: 0px;
            }
            &:nth-child(2n){
                margin-right: 0;
            }
            &:last-child{
                margin-right: 0;
                margin-bottom: 0;
            }
        }
    }
}