.swiper2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 60px;
    height: 550px;
    &__content{
        width: 550px;
        display: flex;
        align-items: center;
        margin-top: 40px; 
    }
    &__slide{
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
    }
    @keyframes oneimg {
        0%{
            opacity: 0;
            display: none;
            
        }
        100%{
            opacity: 1;
            display: block;
        }
    }
    @keyframes twoimg {
        0%{
            opacity: 0;
            display: none;
            
        }
        100%{
            opacity: 1;
        }
    }
    @keyframes threeimg {
        0%{
            opacity: 0;
            
        }
        100%{
            opacity: 1;
        }
    }
    &__slide-images{
        position: absolute;
        top:65px;
        z-index: 10;
        &-one{
            position: absolute;
            top: 50px;
            left:-70px;
            padding: 16px 17px;
            border-radius: 50%;
            background-color: #fff;
            animation-name: oneimg;
            animation-duration: 2s;
        }
        &-two{
            position: relative;
            top: 5px;
            left: -15px;
            animation-name: twoimg;
            animation-duration: 2s;
        }
        &-three{
            position: relative;
            top: -40px;
            left: -10px;
            padding: 26px 17px 13px 17px;
            border-radius: 50%;
            background-color: #fff;
            width: 22px;
            height: 25px;
            animation-name: threeimg;
            animation-delay: 4s;
            animation-duration: 2s;
        }
        &-four{
            position: relative;
            top: 0;
            
        }
        &-five{
            position: absolute;
            top: 45px;
            right: -50px;
            padding: 16px 15px 15px 17px;
            border-radius: 50%;
            background-color: #fff;
        }
    }
    &__carimage{
        width: 550px;
        height: 550px;
        object-fit: contain;
    }
    
    &__slide-image{
        position: absolute;
        bottom: 55px;
        right:80px;
        display: flex;
        align-items: center;
        background-color: #fff;
        border-radius: 18px;
        padding: 12px 24px 12px 12px;
        &::before{
            content: "";
            position: absolute;
            width: 15px;
            height: 15px;
            background: white;
            bottom: 57px;
            left:65px;
            border-top-left-radius: 4px;
            transform: rotate(56deg) skew(20deg);
        }
    }
    &__slide-image-img{
        width: 16px;
        height: 18px;
        border-radius: 12px;
        padding: 11px 12px ;
        margin-right: 16px;
        background-color: #33D1B5
    }
    &__slide-image-text{
        font-weight: 500;
        font-size: 1em;
        line-height: 28px;
    }
    &__list{
        display: flex;
        width: 550px;
    }
    &__item{
        width: 550px;
        display: flex;
        flex-direction: column;
    }
    .swiper-slide{
        opacity: 0 !important;
    }
    .swiper-slide-active{
        opacity: 1 !important;
        & img{
            object-fit: contain !important;
        }
    }
    .swiper-button-prev{
        display: none;
    }
    .swiper-button-next{
        display: none;
    }
    .swiper-pagination-bullets{
        height: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .swiper-pagination-bullet{
        width: 5px !important;
        height: 5px !important;
        border-radius: 50% !important;
        background-color: #b4b7c9 !important;
        opacity: 1 !important;
        margin-right: 0 !important;
        margin-left: 12px !important;
    }
    .swiper-pagination-bullet-active{
        width: 24px !important;
        height: 5px !important;
        border-radius: 10px !important;
        background-color: #3e96fc !important;
        margin: 0 !important;
        margin-left: 12px !important;
    }
}

@media screen and(max-width:1024px) {
    .swiper2{
        margin-left: 20px;
        &__content{
            width: 480px;
            height: 480px;
        }
        &__list{
            display: flex;
            width: 480px;
            height: 480px;
        }
        &__item{
            width: 480px;
            height: 480px;
            display: flex;
            flex-direction: column;
        }
        &__carimage{
            width: 480px;
            height: 480px;
        }
        &__slide-image{
            position: absolute;
            bottom: 40px;
        }
    }
}

@media screen and (max-width:991px) {
    .swiper2{
        margin: 0;
        &__content{
            width: 480px;
            height: 480px;
            display: flex;
            align-items: center;
            margin-top: 40px; 
        } 
        
        &__list{
            display: flex;
            width: 480px;
            height: 480px;
        }
        &__item{
            width: 480px;
            height: 480px;
            display: flex;
            flex-direction: column;
        }
        &__carimage{
            width: 480px;
            height: 480px;
        }
        &__slide-image{
            position: absolute;
            bottom: 30px;
            right:0px;
            &::before{
                content: "";
                position: absolute;
                width: 15px;
                height: 15px;
                background: white;
                bottom: 57px;
                left:65px;
                border-top-left-radius: 4px;
                transform: rotate(56deg) skew(20deg);
            }
        }
    }
}
@media screen and (max-width:768px) {
    .swiper2{
        margin: 0;
        height: 480px;
        &__content{
            width: 480px;
            height: 480px;
            display: flex;
            align-items: center;
            margin-top: 20px; 
        } 
        
        &__list{
            display: flex;
            width: 480px;
            height: 480px;
        }
        &__item{
            width: 480px;
            height: 480px;
            display: flex;
            flex-direction: column;
        }
        &__carimage{
            width: 480px;
            height: 480px;
        }
        &__slide-image{
            position: absolute;
            bottom: 30px;
            right:0px;
            &::before{
                content: "";
                position: absolute;
                width: 15px;
                height: 15px;
                background: white;
                bottom: 57px;
                left:65px;
                border-top-left-radius: 4px;
                transform: rotate(56deg) skew(20deg);
            }
        }
    }
}
@media screen and (max-width:576px) {
    .swiper2{
        margin: 0;
        &__content{
            width: 456px;
            height: 480px;
            display: flex;
            align-items: center;
            margin-top: 20px; 
        } 
        
        &__list{
            display: flex;
            width: 456px;
            height: 480px;
        }
        &__item{
            width: 456px;
            height: 480px;
            display: flex;
            flex-direction: column;
        }
        &__carimage{
            width: 456px;
            height: 480px;
        }
        &__slide-image{
            position: absolute;
            bottom: 30px;
            right:0px;
            &::before{
                content: "";
                position: absolute;
                width: 15px;
                height: 15px;
                background: white;
                bottom: 57px;
                left:65px;
                border-top-left-radius: 4px;
                transform: rotate(56deg) skew(20deg);
            }
        }
    }
}
@media screen and (max-width:415px) {
    .swiper2{
        &__content{
            width: 390px;
        }
        &__list{
            display: flex;
            width: 390px;
            height: 480px;
        }
        &__carimage{
            width: 390px;
            height: 480px;
        }
        &__slide-images{
            position: absolute;
            top:65px;
            z-index: 10;
            &-one{
                position: absolute;
                top: 55px;
                left:-70px;
                padding: 10px 10px;
                border-radius: 50%;
                background-color: #fff;
                animation-name: oneimg;
                animation-duration: 2s;
                & svg{
                    height: 22px;
                }
            }
            &-two{
                width: 100px;
                height: 40px;
                position: relative;
                top: 20px;
                left: -40px;
                animation-name: twoimg;
                animation-delay: 2s;
                animation-duration: 2s;
            }
            &-three{
                display: flex;
                align-items: center;
                position: absolute;
                top: 0px;
                left: 60px;
                padding: 10px 10px 8px 10px;
                border-radius: 50%;
                background-color: #fff;
                width: 22px;
                height: 25px;
                animation-name: threeimg;
                animation-delay: 4s;
                animation-duration: 2s;
            }
            &-four{
                width: 130px;
                height: 40px;
                position: relative;
                top: 20px;
                left: 10px;
                
            }
            &-five{
                position: absolute;
                top: 50px;
                right: -60px;
                padding: 8px;
                border-radius: 50%;
                background-color: #fff;
            }
        }
        &__slide-image{
            position: absolute;
            bottom: 30px;
            right:0px;
            &::before{
                content: "";
                position: absolute;
                width: 15px;
                height: 15px;
                background: white;
                bottom: 52px;
                left:45px;
                border-top-left-radius: 4px;
                transform: rotate(56deg) skew(20deg);
            }
            &-img{
                padding: 8px 6px;
                margin-right: 12px;
            }
        }
    }
}
@media screen and (max-width:394px) {
    .swiper2{
        &__content{
            width: 369px;
        }
        &__list{
            display: flex;
            width: 369px;
            height: 480px;
        }
        &__carimage{
            width: 369px;
            height: 480px;
        }
        &__slide-images{
            position: absolute;
            top:65px;
            z-index: 10;
            &-one{
                position: absolute;
                top: 55px;
                left:-60px;
                padding: 10px 10px;
                border-radius: 50%;
                background-color: #fff;
                animation-name: oneimg;
                animation-duration: 2s;
                & svg{
                    height: 22px;
                }
            }
            &-two{
                width: 100px;
                height: 40px;
                position: relative;
                top: 20px;
                left: -30px;
                animation-name: twoimg;
                animation-delay: 2s;
                animation-duration: 2s;
            }
            &-three{
                display: flex;
                align-items: center;
                position: absolute;
                top: 0px;
                left: 65px;
                padding: 10px 10px 8px 10px;
                border-radius: 50%;
                background-color: #fff;
                width: 22px;
                height: 25px;
                animation-name: threeimg;
                animation-delay: 4s;
                animation-duration: 2s;
            }
            &-four{
                width: 130px;
                height: 40px;
                position: relative;
                top: 20px;
                left: 15px;
                
            }
            &-five{
                position: absolute;
                top: 50px;
                right: -55px;
                padding: 8px;
                border-radius: 50%;
                background-color: #fff;
            }
        }
        &__slide-image{
            position: absolute;
            bottom: 50px;
            right:10px;
            &::before{
                content: "";
                position: absolute;
                width: 15px;
                height: 15px;
                background: white;
                bottom: 52px;
                left:45px;
                border-top-left-radius: 4px;
                transform: rotate(56deg) skew(20deg);
            }
            &-img{
                padding: 8px 6px;
                margin-right: 12px;
            }
        }
    }
}
@media screen and (max-width:376px) {
    .swiper2{
        &__content{
            width: 351px;
        }
        &__list{
            display: flex;
            width: 351px;
            height: 480px;
        }
        &__carimage{
            width: 351px;
            height: 480px;
        }
        &__slide-images{
            position: absolute;
            top:65px;
            z-index: 10;
            &-one{
                position: absolute;
                top: 60px;
                left:-50px;
                padding: 10px 10px;
                border-radius: 50%;
                background-color: #fff;
                animation-name: oneimg;
                animation-duration: 2s;
                & svg{
                    height: 22px;
                }
            }
            &-two{
                width: 100px;
                height: 40px;
                position: relative;
                top: 20px;
                left: -25px;
                animation-name: twoimg;
                animation-delay: 2s;
                animation-duration: 2s;
            }
            &-three{
                display: flex;
                align-items: center;
                position: absolute;
                top: 0px;
                left: 70px;
                padding: 10px 10px 8px 10px;
                border-radius: 50%;
                background-color: #fff;
                width: 22px;
                height: 25px;
                animation-name: threeimg;
                animation-delay: 4s;
                animation-duration: 2s;
            }
            &-four{
                width: 130px;
                height: 40px;
                position: relative;
                top: 25px;
                left: 18px;
                transform:rotate(5deg);
            }
            &-five{
                position: absolute;
                top: 65px;
                right: -50px;
                padding: 8px;
                border-radius: 50%;
                background-color: #fff;
            }
        }
        &__slide-image{
            position: absolute;
            bottom: 50px;
            right:10px;
            &::before{
                content: "";
                position: absolute;
                width: 15px;
                height: 15px;
                background: white;
                bottom: 52px;
                left:45px;
                border-top-left-radius: 4px;
                transform: rotate(56deg) skew(20deg);
            }
            &-img{
                padding: 8px 6px;
                margin-right: 12px;
            }
        }
    }
}
@media screen and (max-width:361px) {
    .swiper2{
        &__content{
            width: 336px;
        }
        &__list{
            display: flex;
            width: 336px;
            height: 480px;
        }
        &__carimage{
            width: 336px;
            height: 480px;
        }
        &__slide-images{
            position: absolute;
            top:65px;
            z-index: 10;
            &-one{
                position: absolute;
                top: 60px;
                left:-50px;
                padding: 10px 10px;
                border-radius: 50%;
                background-color: #fff;
                animation-name: oneimg;
                animation-duration: 2s;
                & svg{
                    height: 22px;
                }
            }
            &-two{
                width: 100px;
                height: 40px;
                position: relative;
                top: 20px;
                left: -25px;
                animation-name: twoimg;
                animation-delay: 2s;
                animation-duration: 2s;
            }
            &-three{
                display: flex;
                align-items: center;
                position: absolute;
                top: 0px;
                left: 70px;
                padding: 10px 10px 8px 10px;
                border-radius: 50%;
                background-color: #fff;
                width: 22px;
                height: 25px;
                animation-name: threeimg;
                animation-delay: 4s;
                animation-duration: 2s;
            }
            &-four{
                width: 130px;
                height: 40px;
                position: relative;
                top: 25px;
                left: 18px;
                transform:rotate(5deg);
            }
            &-five{
                position: absolute;
                top: 65px;
                right: -50px;
                padding: 8px;
                border-radius: 50%;
                background-color: #fff;
            }
        }
        &__slide-image{
            position: absolute;
            bottom: 50px;
            right:10px;
            &::before{
                content: "";
                position: absolute;
                width: 15px;
                height: 15px;
                background: white;
                bottom: 50px;
                left:45px;
                border-top-left-radius: 4px;
                transform: rotate(56deg) skew(20deg);
            }
            &-img{
                padding: 8px 6px;
                margin-right: 12px;
            }
        }
    }
}
@media screen and (max-width:320px) {
    .swiper2{
        margin: 0;
        &__content{
            width: 296px;
            height: 480px;
            display: flex;
            align-items: center;
            margin-top: 20px; 
        } 
        
        &__list{
            display: flex;
            width: 296px;
            height: 480px;
        }
        &__item{
            width: 296px;
            height: 480px;
            display: flex;
            flex-direction: column;
        }
        &__carimage{
            width: 296px;
            height: 480px;
        }
        &__slide-image{
            position: absolute;
            bottom: 30px;
            right:0px;
            &::before{
                content: "";
                position: absolute;
                width: 15px;
                height: 15px;
                background: white;
                bottom: 52px;
                left:65px;
                border-top-left-radius: 4px;
                transform: rotate(56deg) skew(20deg);
            }
        }
        &__slide-images{
            position: absolute;
            top:65px;
            z-index: 10;
            &-one{
                position: absolute;
                top: 55px;
                left:-40px;
                padding: 6px 8px;
                border-radius: 50%;
                background-color: #fff;
                animation-name: oneimg;
                animation-duration: 2s;
                & svg{
                    height: 22px;
                }
            }
            &-two{
                width: 80px;
                height: 30px;
                position: relative;
                top: 20px;
                left: -20px;
                animation-name: twoimg;
                animation-delay: 2s;
                animation-duration: 2s;
            }
            &-three{
                display: flex;
                align-items: center;
                position: absolute;
                top: 0px;
                left: 50px;
                padding: 10px 10px 8px 10px;
                border-radius: 50%;
                background-color: #fff;
                width: 22px;
                height: 25px;
                animation-name: threeimg;
                animation-delay: 4s;
                animation-duration: 2s;
            }
            &-four{
                width: 110px;
                height: 30px;
                position: relative;
                top: 20px;
                left: 10px;
                
            }
            &-five{
                position: absolute;
                top: 50px;
                right: -35px;
                padding: 8px;
                border-radius: 50%;
                background-color: #fff;
            }
        }
    }
}
