.footer{
    background: #0D2851;
    padding-top: 212px;
    padding-bottom: 48px; 
    z-index: 1;   
    
    &__list{
        width: 1140px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 92px;
    }
    &__item{
        max-width: 100%;
        &:last-child{
            margin-right: 0;
        }
    }
    
    &__ellist{
        display: flex;
        align-items: start;
    }
    
    &__elitem{
        width: 160px;
        display: flex;
        flex-direction: column;
        &:last-child{
            width: 212px;
        }
    }
    
    &__txt{
        font-style: normal;
        font-weight: 600;
        font-size: 1.25em;
        line-height: 24px;  
        color: #FFFFFF;
        margin-bottom: 16px;
        transition: 0.35s;
        &:hover{
            cursor: pointer;
            color: rgba(255, 255, 255, 0.65);
        }
    }
    
    &__link{
        font-style: normal;
        font-weight: 500;
        font-size: 1em;
        line-height: 24px;
        color: rgba(255, 255, 255, 0.65);
        margin-bottom: 12px;
        transition: 0.35s;
        &:last-child{
            margin-bottom: 0;
        }
        &:hover{
            cursor: pointer;
            color: #fff;
        }
    }
    
    &__discription{
        width: 320px;
        font-style: normal;
        font-weight: 400;
        font-size: 1em;
        line-height: 26px;
        color: #6B7A8C;
        margin: 32px 0 40px 0;
    }
    
    &__logos{
        width: 264px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        & a:hover{
            cursor: pointer;
        }
    }
    &__sublist{
        display: flex;
        flex-direction: column;
    }
    
    &__subitem{
        display: flex;
        flex-direction: column;
        margin-bottom: 32px;
        
        &:last-child{
            margin-bottom: 0;
        }
        
        & span{
            display: flex;
            align-items: start;
            
            & a{
                font-style: normal;
                font-weight: 500;
                font-size: 1em;
                line-height: 24px;
                color: rgba(255, 255, 255, 0.65);
                transition: 0.35s;
                margin-left: 8px;
                &:hover{
                    transition: 0.5s;
                    cursor: pointer;
                    color: #fff;
                }
            }
        }
    }
    
    &__web-link{
        font-style: normal;
        font-weight: 400;
        font-size: 1em;
        line-height: 26px;
        text-decoration-line: underline;
        color: rgba(255, 255, 255, 0.7);
        margin-bottom: 48px;
        
    }
    
    &__line{
        width: 1140px;
        height: 1px;
        border: none;
        margin: 0;
        margin-bottom: 48px;
        background:rgba(255, 255, 255, 0.15);
    }
    
    &__links{
        display: flex;
        align-items: center;
        &-one{
            width: 638px;
            font-style: normal;
            font-weight: 400;
            font-size: 1em;
            line-height: 24px;
            color: rgba(255, 255, 255, 0.7);
            margin-right: 32px;
        }
        &-two{
            width: 249px;
            font-style: normal;
            font-weight: 400;
            font-size: 1em;
            line-height: 24px;
            color: rgba(255, 255, 255, 0.7);
            margin-right: 32px;
            transition: 0.35s;
            &:hover{
                cursor: pointer;
                color: #fff;
            }
        }
        &-three{
            width: 196px;
            font-style: normal;
            font-weight: 400;
            font-size: 1em;
            line-height: 24px;
            color: rgba(255, 255, 255, 0.7);
            transition: 0.35s;
            &:hover{
                cursor: pointer;
                color: #fff;
            }
        }
    }
}

@media screen and (max-width:1024px) {
    .footer{
        &__list{
            width: 960px;
        }
        &__links{
            display: flex;
            align-items: center;
            &-one{
                width: 474px;
            }
        }
    }
}

@media screen and (max-width:991px) {
    .footer{
        padding-top: 164px;
        &__list{
            width: 100%;
            display: flex;
            flex-direction: column;
        }
        &__item{
            max-width: 100%;
            &:nth-child(1){
                width: 720px;
            }
        }
        
        &__discription{
            width: 680px;
        }
        
        &__logos{
            margin-bottom: 18px;
        }
        
        &__ellist{
            width: 720px;
            display: flex;
            justify-content: space-between;
        }
        
        
        &__line{
            width: 720px;
            height: 1px;
            border: none;
            margin: 0;
            margin-bottom: 48px;
            background:rgba(255, 255, 255, 0.15);
        }
        &__links{
            display: flex;
            flex-wrap: wrap;
            &-one{
                width: 720px;
                margin-bottom: 24px;
                margin-right: 0px;
            }
            &-two{
                width: 249px;
                font-style: normal;
                font-weight: 400;
                font-size: 1em;
                line-height: 24px;
                color: rgba(255, 255, 255, 0.7);
                margin-right: 32px;
                transition: 0.35s;
                &:hover{
                    cursor: pointer;
                    color: #fff;
                }
            }
            &-three{
                width: 196px;
                font-style: normal;
                font-weight: 400;
                font-size: 1em;
                line-height: 24px;
                color: rgba(255, 255, 255, 0.7);
                transition: 0.35s;
                &:hover{
                    cursor: pointer;
                    color: #fff;
                }
            }
        }
    }
}

@media screen and(max-width:820px) {
    .footer{
        &__discription{
            width: 720px;
            font-size: 1em;
        }
    }
}

@media screen and (max-width:768px) {
    .footer{
        padding-top: 164px;
        &__list{
            width: 720px;
            display: flex;
            flex-direction: column;
            margin-bottom: 64px;
        }
        &__item{
            max-width: 100%;
            &:nth-child(1){
                width: 720px;
            }
        }
        
        &__discription{
            width: 720px;
        }
        
        &__logos{
            margin-bottom: 18px;
        }
        
        &__ellist{
            width: 720px;
            display: flex;
            justify-content: space-between;
        }
        
        
        &__line{
            width: 720px;
            height: 1px;
            border: none;
            margin: 0;
            margin-bottom: 48px;
            background:rgba(255, 255, 255, 0.15);
        }
        &__links{
            display: flex;
            flex-wrap: wrap;
            &-one{
                width: 720px;
                margin-bottom: 24px;
                margin-right: 0px;
            }
            &-two{
                width: 249px;
                font-style: normal;
                font-weight: 400;
                font-size: 1em;
                line-height: 24px;
                color: rgba(255, 255, 255, 0.7);
                margin-right: 32px;
                transition: 0.35s;
                &:hover{
                    cursor: pointer;
                    color: #fff;
                }
            }
            &-three{
                width: 196px;
                font-style: normal;
                font-weight: 400;
                font-size: 1em;
                line-height: 24px;
                color: rgba(255, 255, 255, 0.7);
                transition: 0.35s;
                &:hover{
                    cursor: pointer;
                    color: #fff;
                }
            }
        }
    }
}
@media screen and (max-width:576px) {
    .footer{
        padding-top: 140px;
        &__list{
            width: 552px;
            display: flex;
            flex-direction: column;
            margin-bottom: 64px;
        }
        &__item{
            max-width: 100%;
            &:nth-child(1){
                width: 552px;
            }
        }
        
        &__discription{
            width: 552px;
        }
        
        &__logos{
            margin-bottom: 18px;
        }
        
        &__ellist{
            width: 552px;
            display: flex;
            justify-content: space-between;
        }
        
        
        &__line{
            width: 552px;
            height: 1px;
            border: none;
            margin: 0;
            margin-bottom: 48px;
            background:rgba(255, 255, 255, 0.15);
        }
        &__links{
            display: flex;
            flex-wrap: wrap;
            &-one{
                width: 720px;
                margin-bottom: 24px;
                margin-right: 0px;
            }
            &-two{
                width: 240px;
                font-style: normal;
                font-weight: 400;
                font-size: 1em;
                line-height: 24px;
                color: rgba(255, 255, 255, 0.7);
                margin-right: 19px;
                transition: 0.35s;
                &:hover{
                    cursor: pointer;
                    color: #fff;
                }
            }
            &-three{
                width: 196px;
                font-style: normal;
                font-weight: 400;
                font-size: 1em;
                line-height: 24px;
                color: rgba(255, 255, 255, 0.7);
                transition: 0.35s;
                &:hover{
                    cursor: pointer;
                    color: #fff;
                }
            }
        }
    }
}
@media screen and (max-width:540px) {
    .footer{
        padding-top: 140px;
        &__ellist{
            width: 456px;
            display: flex;
            flex-wrap: wrap;
        }
        &__elitem:nth-child(3){
            width: 456px;
            margin-top: 24px;
        }
        &__list{
            width: 456px;
            display: flex;
            flex-direction: column;
            margin-bottom: 64px;
        }
        &__item{
            max-width: 100%;
            &:nth-child(1){
                width: 456px;
            }
        }
        
        &__discription{
            width: 456px;
        }
        
        &__logos{
            margin-bottom: 18px;
        }
        
        &__ellist{
            width: 456px;
            display: flex;
            justify-content: space-between;
        }
        
        
        &__line{
            width: 456px;
            height: 1px;
            border: none;
            margin: 0;
            margin-bottom: 48px;
            background:rgba(255, 255, 255, 0.15);
        }
        &__links{
            display: flex;
            flex-wrap: wrap;
            &-one{
                width: 720px;
                margin-bottom: 24px;
                margin-right: 0px;
            }
            &-two{
                width: 240px;
                font-style: normal;
                font-weight: 400;
                font-size: 1em;
                line-height: 24px;
                color: rgba(255, 255, 255, 0.7);
                margin-right: 19px;
                transition: 0.35s;
                &:hover{
                    cursor: pointer;
                    color: #fff;
                }
            }
            &-three{
                width: 196px;
                font-style: normal;
                font-weight: 400;
                font-size: 1em;
                line-height: 24px;
                color: rgba(255, 255, 255, 0.7);
                transition: 0.35s;
                &:hover{
                    cursor: pointer;
                    color: #fff;
                }
            }
        }
    }
}
@media screen and (max-width:415px) {
    .footer{
        &__list{
            width: 390px;
        }
        &__item{
            width: 390px;
        }
        &__discription{
            width: 390px;
        }
        &__ellist{
            width: 390px;
            display: flex;
            flex-wrap: wrap;
        }
        &__elitem:nth-child(3){
            width: 390px;
            margin-top: 24px;
        }
    }
}
@media screen and (max-width:394px) {
    .footer{
        &__list{
            width: 369px;
        }
        &__item{
            width: 369px;
        }
        &__discription{
            width: 369px;
        }
        &__ellist{
            width: 369px;
            display: flex;
            flex-wrap: wrap;
        }
        &__elitem:nth-child(3){
            width: 369px;
            margin-top: 24px;
        }
    }
}
@media screen and (max-width:376px) {
    .footer{
        &__list{
            width: 351px;
        }
        &__item{
            width: 351px;
        }
        &__discription{
            width: 351px;
        }
        &__ellist{
            width: 351px;
            display: flex;
            flex-wrap: wrap;
        }
        &__elitem{
            width: 117px;
        }
        &__elitem:nth-child(3){
            width: 351px;
            margin-top: 24px;
        }
    }
}
@media screen and (max-width:361px) {
    .footer{
        &__list{
            width: 336px;
        }
        &__item{
            width: 336px;
        }
        &__discription{
            width: 336px;
        }
        &__ellist{
            width: 336px;
            display: flex;
            flex-wrap: wrap;
        }
        &__elitem{
            width: 117px;
        }
        &__elitem:nth-child(3){
            width: 336px;
            margin-top: 24px;
        }
    }
}
@media screen and (max-width:320px) {
    .footer{
        padding-top: 140px;
        &__list{
            width: 296px;
            display: flex;
            flex-direction: column;
            margin-bottom: 64px;
        }
        &__item{
            max-width: 100%;
            &:nth-child(1){
                width: 296px;
            }
        }
        
        &__discription{
            width: 294px;
            font-size: 1em;
            line-height: 26px;
        }
        
        &__logos{
            margin-bottom: 18px;
        }
        
        &__ellist{
            width: 296px;
            display: flex;
            flex-wrap: wrap;
        }
        &__elitem{
            width: 99px;
            &:last-child{
                width: 296px;
                margin-top: 24px;
            }
        }
        
        &__web-link{
            width: 280px;
        }
        
        
        &__line{
            width: 296px;
            height: 1px;
            border: none;
            margin: 0;
            margin-bottom: 48px;
            background:rgba(255, 255, 255, 0.15);
        }
        &__links{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            &-one{
                width: 296px;
                margin-bottom: 24px;
                margin-right: 0px;
            }
            &-two{
                width: 240px;
                font-style: normal;
                font-weight: 400;
                font-size: 1em;
                line-height: 24px;
                color: rgba(255, 255, 255, 0.7);
                margin-right: 19px;
                transition: 0.35s;
                text-align: center;
                margin: 0;
                &:hover{
                    cursor: pointer;
                    color: #fff;
                }
            }
            &-three{
                width: 196px;
                font-style: normal;
                font-weight: 400;
                font-size: 1em;
                line-height: 24px;
                color: rgba(255, 255, 255, 0.7);
                transition: 0.35s;
                &:hover{
                    cursor: pointer;
                    color: #fff;
                }
            }
        }
    }
}