@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: local(''),
    url('./Assets/Fonts/inter-v11-latin-regular.woff2') format('woff2'),
    url('./Assets/Fonts/inter-v11-latin-regular.woff') format('woff'); 
}
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    src: local(''),
    url('./Assets/Fonts/inter-v11-latin-500.woff2') format('woff2'), 
    url('./Assets/Fonts/inter-v11-latin-500.woff') format('woff'); 
}
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    src: local(''),
    url('./Assets/Fonts/inter-v11-latin-600.woff2') format('woff2'),
    url('./Assets/Fonts/inter-v11-latin-600.woff') format('woff'); 
}
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    src: local(''),
    url('./Assets/Fonts/inter-v11-latin-700.woff2') format('woff2'),
    url('./Assets/Fonts/inter-v11-latin-700.woff') format('woff');
}
// *, *::before, *::after {
//     box-sizing: border-box;
// }
body{
    font-family:'Inter',Arial, sans-serif !important;
    margin: 0;
}
ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6{
    margin: 0;
    padding:0;
}

input{
    outline: none !important;
}
.light{
    .text{
        
    }
}
.container{
    width: 1140px;
    margin: 0 auto;
}
@media screen and (max-width:991px) {
    .container{
        width: 720px;
        margin: 0 auto;
    }
}
@media screen and (max-width:768px) {
    .container{
        width: 552px;
        margin: 0 auto;
    }
}
@media screen and (max-width:576px) {
    .container{
        width: 456px;
        margin: 0 auto;
    }
}
@media screen and (max-width:320px) {
    .container{
        width: 296px;
        margin: 0 auto;
    }
}