.logosection{
    padding-top: 120px;
    padding-bottom: 120px;
    &__list{
        height: 104px;
        display: flex;
        align-items: center;
        transform: translate3d(0,0,0) !important;
    }
    &__item{
        width: 168px !important;
        height: 104px !important;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #FFFFFF;
        border: 1px solid #E7EAEE;
        border-radius: 18px;
        margin-right: 24px;
        cursor: grab;
    }
    &__coinbase:hover svg path{
        fill:#0052ff !important;
    }
    &__spotify:hover svg path{
        fill:#1ED760 ;
    }
    
    &__slack:hover svg path:nth-child(1){
        fill:#000 ;
    }
    &__slack:hover svg path:nth-child(2){
        fill:#36C5F0 ;
    }
    &__slack:hover svg path:nth-child(3){
        fill:#2EB67D ;
    }
    &__slack:hover svg path:nth-child(4){
        fill:#ECB22E ;
    }
    &__slack:hover svg path:nth-child(5){
        fill:#E01E5A ;
    }
    
    &__dropbox:hover svg path:nth-child(1){
        fill:#000 ;
    }
    &__dropbox:hover svg path:nth-child(2){
        fill:#0061ff ;
    }
    &__webflow:hover svg path{
        fill:#4353ff ;
    }
    &__zoom:hover svg path{
        fill:#2D8CFF;
    }
    
}
@media screen and (max-width:991px) {
    .logosection{
        margin-top: 80px;
        margin-bottom: 80px;
        &__list{
            width: 720px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        &__item{
            width: 216px !important;
            height: 100px !important;
        }
    }
}
@media screen and (max-width:768px) {
    .logosection{
        margin-top: 80px;
        margin-bottom: 80px;
        &__list{
            width: 552px;
        }
        &__item{
            width: 160px !important;
            height: 100px !important;
        }
    }
}
@media screen and (max-width:576px) {
    .logosection{
        margin-top: 80px;
        margin-bottom: 80px;
        &__list{
            width: 456px;
        }
        &__item{
            width: 206px !important;
            height: 100px !important;
        }
    }
}
@media screen and (max-width:320px) {
    .logosection{
        margin-top: 80px;
        margin-bottom: 80px;
        &__list{
            width: 296px;
        }
        &__item{
            width: 270px !important;
            height: 100px !important;
        }
    }
}